# Ignore makefiles that are locally specific
makefile

# Ignore testing .db files
*.db

# Ignore Webserver hidden files
*.ht

# Ignore phpunit elements
phpunit.phar

# Ignore Visual Studio code files
.vscode

# Ignore Composer elements
/vendor/
composer.phar
composer.lock

# Ignore log files
*.log

# Ignore bin folder
/bin/

# Ignore .vagrant folder
.vagrant

# Ignore node_modules directory
/node_modules/

# Ignore test output directory
/test/e2e/errors

# Ignore allure-results directory
/allure-results/

# Ignore the TODO list