@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q9io6x');
  src:  url('fonts/icomoon.eot?q9io6x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q9io6x') format('truetype'),
    url('fonts/icomoon.woff?q9io6x') format('woff'),
    url('fonts/icomoon.svg?q9io6x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e951";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-whatsapp:before {
  content: "\ea93";
}
/*
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}*/
.ico-title {
  font: 36px 'Monserrat', sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
    margin-left: .25em;
    margin-right: .25em;;
}
.ico-blurb {
  font: 19px 'Monserrat', sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
    margin-left: .25em;
}

* {
margin: 0;
padding: 0;
}
body {
font: 15px/1.5 'Monserrat',sans-serif;
}
body, a {
color: #282828;
}

/*
header img {
display: block;
margin-left: auto;
margin-right: auto;
width: 150px;
height: 150px;
background: #fff;
color: #fff;
position: relative;
padding: 3px;
}*/

.dictionary td:not(:last-child) {
vertical-align: top;
padding-left: 5px;
padding-right: 20px;
}
.dictionary td:last-child {
padding-left: 20px;
padding-right: 5px;
padding-bottom: 20px;
text-indent: -20px;
text-align: justify;
}
#priceChart {
margin: auto;
background-image: url('../gfx/bitcoin.png');
background-repeat: no-repeat;
background-position: center center;
}
.status {
border-spacing: 0;
margin: 0 auto 30px;
text-align: center;
width: 100%;
}
.status th:not(:last-child),
.status td:not(:last-child) {
border-right: 1px solid #d8d8d8;
}
.status th {
color: #888;
font-weight: normal;
}
h3, p {
padding-bottom: 1em;
}
h3 {
font-size: 19px;
padding-top: 1em;
}
canvas {
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.explain {
display: none;
margin-bottom: 10px;
}
.hide {
display: none;
}
.pointUpLeft {
width: 0;
height: 0;
margin-left: 40px;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-bottom: 30px solid pink;
}
.pointUpCentre {
width: 0;
height: 0;
margin-left: 48%;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-bottom: 30px solid pink;
}
.pointDownCentre {
width: 0;
height: 0;
margin-left: 48%;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-top: 30px solid pink;
}
.pointDownLeft {
width: 0;
height: 0;
margin-left: 40px;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-top: 30px solid pink;
}
.bubble {
color: #0e0e0e;
font: normal 20px/1.25 'Monserrat',sans-serif;
background-color: pink;
padding: 20px;
border-radius: 20px;
}
code {
background: #fff;
border: 1px solid #d8d8d8;
display: block;
font-size: 11px;
margin-bottom: 2em;
padding: 1em;
white-space: pre-wrap;
}
code.request  :hover {
cursor: pointer;
}
code.request a:hover {
text-decoration: underline;
}
code.request :before {
color: #006ce1;
content: 'GET ';
}
code.js {
}
code.js :hover {
cursor: text;
}
ol {
padding-top: 10px;
padding-left: 24px;
border-top: 1px solid #aaa;
font-size: 12px;
}
footer {
margin: 2em 0;
text-align: center;
}
#tabText {
float: left;
padding-left: 10px;
cursor: pointer;
text-decoration: underline;
}
#tabSymbol {
margin-right: 15px;
float: right;
font-size: 2em;
vertical-align: top;
}
.explainTab {
font: bold 20px/1 'Monserrat',sans-serif;
width: 240px;
top: 80px;
height: 50px;
display: inline;
padding-top: 10px;
padding-left: 15px;
position: fixed;
left: -210px;
width: 250px;
transition: 0.5s;
z-index: 999;
background-color: pink;
cursor: pointer;
color: #0e0e0e;
-webkit-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
}
.showExplainTab {
transition: 1s;
left: -1px;
}
.hatch {
display: block;
animation-name: hatchExplanations;
animation-iteration-count: 1;
animation-timing-function: ease-out;
animation-duration: 0.6s;
-webkit-animation-name: hatchExplanations;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: ease-out;
-webkit-animation-duration: 0.6s;
-moz-animation-name: hatchExplanations;
-moz-animation-iteration-count: 1;
-moz-animation-timing-function: ease-out;
-moz-animation-duration: 0.6s;
visibility: visible !important;
}



/* ################################################ */
@media screen and (min-width: 600px) {
  body {
  font-size: 15px;
  }
  .view {
  margin: 0 auto;
  }
  header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  }
  header h1 {
  font: bold 40px/1.25 'Monserrat', sans-serif;
  }
  header h2 {
  font: normal 30px/1.25 'Monserrat',sans-serif;
  }
  canvas {
  max-width: 580px;
  max-height: 580px;
  }
  .explainTab {
  font: bold 25px/1.5 'Monserrat',sans-serif;
  top: 180px;
  height: 90px;
  width: 250px;
  }
  .status td {
  font-size: 19px;
  }
}
@media (min-width: 800px) {
  body {
  font-size: 18px;
  }
  .view {
  margin: 0 autox;
  max-width: 680px;
  }
  header {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  }
  header h1 {
  font: bold 45px/1.5 'Monserrat', sans-serif;
  }
  header h2 {
  font: normal 30px/1.5 'Monserrat',sans-serif;
  }
  canvas {
  max-width: 660px;
  }
  .explainTab {
  font: bold 20px/1 'Monserrat',sans-serif;
  width: 240px;
  top: 80px;
  height: 50px;
  }
  #tabSymbol {
  font: bold 40px/1 'Monserrat',sans-serif;
  }
  .bubble {
  font: bold 12px/1 'Monserrat',sans-serif;
  }
  .status td {
  font-size: 12px;
  font-weight: bold;
  }
  /*
  .explainTab {
  font: bold 25px/1.5 'Monserrat',sans-serif;
  top: 240px;
  */
  /*
  height: 90px;
  width: 250px;
  */

  /*.explainTab {
  background-image: url('../gfx/explainTab.png');
  background-repeat: no-repeat;
  font: bold 25px/1.5 'Monserrat',sans-serif;
  left: -210px;
  top: 240px;
  height: 90px;
  width: 250px;
  }*/
}
@media screen and (max-width: 600px){
    body {
    font-size: 12px;
    }
   .view {
    margin: 10px;
    max-width: 580px;
    }
    header {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    }
    header h1 {
    font: bold 30px/1.25 'Monserrat', sans-serif;
    }
    header h2 {
    font: normal 20px/1.25 'Monserrat',sans-serif;
    }
    canvas {
    max-width: 480px;
    max-height: 480px;
    }
    .explainTab {
    font: bold 20px/1 'Monserrat',sans-serif;
    width: 240px;
    top: 80px;
    height: 50px;
    }
    #tabSymbol {
    font: bold 40px/1 'Monserrat',sans-serif;
    }
    .bubble {
    font: bold 12px/1 'Monserrat',sans-serif;
    }
    .status td {
    font-size: 12px;
    font-weight: bold;
    }
}

@media screen and (max-width: 360px){
    body {
    font-size: 10px;
    }
   .view {
    margin: 5px;
    max-width: 340px;
    }
    header {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    }
    header h1 {
    font: bold 30px/1.25 'Monserrat', sans-serif;
    }
    header h2 {
    font: normal 20px/1.25 'Monserrat',sans-serif;
    }
    canvas {
    max-width: 320px;
    max-height: 320px;
    }
    .explainTab {
    font: bold 20px/1 'Monserrat',sans-serif;
    width: 240px;
    top: 80px;
    height: 50px;
    }
    #tabSymbol {
    font: bold 40px/1 'Monserrat',sans-serif;
    }
    .bubble {
    font: bold 12px/1 'Monserrat',sans-serif;
    }
    .status td {
    font-size: 12px;
    font-weight: bold;
    }
}
/* Poppie Styling */
.poppie-container {
    background-image: ("../gfx/poppie3.png");
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 162px;
    border: 1px solid #D3D7DC;
    background: #fff;
    padding: 12px 15px;
    z-index: 9999;
    box-shadow: 10px 10px 5px rgba(0,0,0,.5);
}
.poppie-cross {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 16px;
    padding: 5px;
    background: #fff;
    cursor: pointer;
}
[class^="poppie-"],[class*=" poppie-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 7;
    -webkit-font-smoothing: anitaliased;
    -moz-osx-font-smoothing: grayscale;
}
/*
@media screen and (max-width: 320px){
   .view {
    margin: 0 auto;
    max-width: 300px;
    }
    header {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
    }
    header h1 {
    font: bold 20px/1.25 'Monserrat', sans-serif;
    }
    header h2 {
    font: normal 15px/1.25 'Monserrat',sans-serif;
    }
    canvas {
    max-width: 280px;
    max-height: 280px;
    }
    /*
    .explainTab {
    font: bold 15px/1 'Monserrat',sans-serif;
    top: 100px;
    height: 20px;
    }
    #tabSymbol {
    font: bold 20px/1 'Monserrat',sans-serif;
    }
    */
    /*.explainTab {
    background-image: url('../gfx/explainTab.png');
    background-repeat: no-repeat;
    font: bold 15px/1 'Monserrat',sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    position: fixed;
    left: -230px;
    top: 100px;
    height: 20px;
    width: 250px;
    }*/
    /*}
    */
/* ################################################ */


@keyframes hatchExplanations {
0% { transform: rotate(0deg) scaleY(0.6); }
20% { transform: rotate(-2deg) scaleY(1.05); }
35% { transform: rotate(2deg) scaleY(1); }
50% { transform: rotate(-2deg); }
65% { transform: rotate(1deg); }
80% { transform: rotate(-1deg); }
100% { transform: rotate(0deg); }
}
@-webkit-keyframes hatchExplanations {
0% { -webkit-transform: rotate(0deg) scaleY(0.6); }
20% { -webkit-transform: rotate(-2deg) scaleY(1.05); }
35% { -webkit-transform: rotate(2deg) scaleY(1); }
50% { -webkit-transform: rotate(-2deg); }
65% { -webkit-transform: rotate(1deg); }
80% { -webkit-transform: rotate(-1deg); }
100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes hatchExplanations {
0% { -moz-transform: rotate(0deg) scaleY(0.6); }
20% { -moz-transform: rotate(-2deg) scaleY(1.05); }
35% { -moz-transform: rotate(2deg) scaleY(1); }
50% { -moz-transform: rotate(-2deg); }
65% { -moz-transform: rotate(1deg); }
80% { -moz-transform: rotate(-1deg); }
100% { -moz-transform: rotate(0deg); }
}
